
.fw-bold {
    font-weight: 600;
}

.img-fluid{
    padding: 0 2rem;
    margin-top:1.5rem;
}

input[type="text"]{
    width:90%;
}

label {
    margin-left: 0.2rem;
}

input{
    border: 1px solid rgba(112, 112, 112, 0.2);
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1.25rem;

}

